header {
  margin: 10px;
  padding: 15px;
  align-content: center;
  background-color: grey;

}

h1 {
  text-align: center;
  color: white;
}
}

form {

text-align: right;
  background-color: green;
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  align-content: center;
}

ul {
  display:inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: center;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div>
}
